<section class="ftco-section bg-light" id="skills-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="mb-4">My Skills</h2>
                <p>Technologies and tools I’ve used to build robust, modern, and scalable applications.</p>
            </div>
        </div>
        <div class="row progress-circle mb-5">
            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Angular</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Spring Boot</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Kafka</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">MySQL</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Node.js</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">React</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">HTML & CSS</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Bootstrap</h2>
                </div>
            </div>

            <div class="col-lg-4 mb-4">
                <div class="bg-white rounded-lg shadow p-4">
                    <h2 class="h5 font-weight-bold text-center mb-4">Git & GitHub</h2>
                </div>
            </div>
        </div>
    </div>
</section>
