<!-- ✅ Move navbar here
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand" href="#"><h3>Tejas Dipak Mohite</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/resume']">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/skills']">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/projects']">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
   -->
  <!-- 🔻 Main page content will render here -->

 <app-navbar></app-navbar>
  <router-outlet></router-outlet>
  